/* Header  start */
.back{
  background: aliceblue !important;
}

/* Header  end */
/* Login page  start */
.wrapper{
  max-width: 500px;
  width: 100%;
  background: aliceblue;
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  padding: 30px;
}
.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #00d1f9;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
  
}
.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus{
  border: 1px solid #39ace7;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}

.wrapper .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background: #00d1f9;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  background: #ffbb00;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

.wrapper .form .alter{
    text-align: center;
}
.wrapper .form .alter .login{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color:#00d1f9;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}
/* Login page  end */


/* Modal start */

.modal{
  display: block;
  width: 50%;
  margin-left: auto;
}
.modal h2{
  text-align: center;
}

.modal .modalform{
  margin:10px;
  padding: 5px;
}
.modal-content{
  background-color: aliceblue;
}
/* Modal end */

/*Dashboard start*/
.nameStyle{
  color: green;
}
/*Dashboard end*/